
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* Navbar  */
.navbar{
    background-color: #34495E ;
    min-height: 10vh;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.navbar .navList{

    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 1.5rem;
}
.navbar .navItem{
    list-style: none;
}
.navItem a{
    color: white;
    text-decoration: none;
    padding: 5px 8px;
    margin: 0 5px;
    font-size: 1.2rem;
}
.navItem a:hover{
    background-color: white;
    cursor: pointer;
    color: #2C3E50;
    border-radius: 10px;
    transition: all 0.3s ease;
}

/* Home section  */
.homeSection{
    min-height: 90vh;
    display: flex;
}

/* left home section  */
.leftHome{
    width: 60%;
    padding: 5%;
    padding-top: 8%;
    min-height: 100%;
}

#title{
    font-size: 2.8rem;
    margin: 5px 0;
    padding: 10px 0;
}
.para{
    margin: 5% 0;
    padding: 4% 0;
}
.leftHome input{
    outline: none;
    padding: 8px 5px;
    min-width: 50%;
    margin: 5% 0;
    margin-right: 5%;
    border: 2px solid black;
    border-radius: 10px;
}
.leftHome button{
    outline: none;
    padding: 8px 0;
    background: transparent;
    min-width:15% ;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.leftHome input:focus{
    background-color: black;
    color: white;
}
.leftHome button:hover{
    background-color: black;
    color: white;
}


/* right home section  */

.rightHome{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 2%;
}
.rightHome img{
    width: 70%;
    height: auto;
    border-radius: 10px;
}

/* Feature section  */

.header{
    width: 100%;
    padding: 2%;
    text-align: center;
}
.heading{
    text-align: center;
}
.featureColumns{
    min-height: 150vh;
    display: flex;
}
/* left and right feature section  */
.featureLeft , .featureRight{
    min-width: 33%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 8% 4%;
}

.featureTitle{
    text-align: center;
    margin: 10px 2px;
    margin-top: 2%;
}
.featurePara{
    text-align: center;
}

/* mid feature section  */
.featureMid{
    min-height: 100%;
    min-width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.featureMid img{
  width: 70%;
  height: auto;
  border: none;
  border-radius: 10px;
}


/* About page  */

.about{
    min-height: 100vh;
    width: 80%;
    padding:  0 1.5rem;
    margin: auto;
}
.aboutPara{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutPara p{
    font-size: 1.2rem;
    text-align: center;
}
.circleSection{
    min-height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.circleSection p{
    text-align: center;
    padding: 5px 0;
}
.circles{
    width: 170px;
    height: 170px;
    border: none;
    border-radius: 50%;
}
.circles img{
    width: 100%;
}
/* Dwonload section  */
.download{
    min-height: 90vh;
}
.downloadContent{
    color: white;
    padding: 10px 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(rgb(44, 77, 245 ),rgb(8, 43, 216));
    margin-top: 1.5rem;
}
.downloadHeading{
    text-align: center;
    font-size: 4rem;
    padding: 1.5rem;
}
.downloadPara{
    text-align: center;
    font-size: 1.5rem;
    margin:1.2rem;
}
.downloadBtn{
    padding: 0.5rem 1rem;
    margin: 10px;
    background: none;
    font-size: 1rem;
    outline: none;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
}
.downloadBtn:hover{
    background: white;
    color: black;
    cursor: pointer;
}

/* Contact section  */

.contact{
    min-height: 90vh;
    padding: 0 2rem;
    padding-bottom: 4rem;
}
.contactContent{
    display: flex;
    padding: 2rem 0;
}
.map{
    min-width: 50%;
    display: flex;
    justify-content: center;
}
.map img{
    width: 70%;
    height: auto;
    margin: 15px;
    border: none;
    border-radius: 10px;
}
.form{
    width: 45%;
    padding: 1.5rem;
}

.formInput input{
    width: 48%;
    margin: 5px 5px;
    padding: 5px ;
    outline: none;
    border: 2px solid black;
}
.form #textarea{
    max-height:200px;
    margin: 1rem 0;
    width: 100%;
    max-width: 100%;
    outline: none;
    border: 2px solid black;
    padding: 0 10px;
    display: block;
}
.form #checkbox{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.form span{
    margin: 0 15px;
    padding-bottom: 1px;
}
.form #formBtn{
    display: block;
    width: 20%;
    padding: 5px 0;
    margin: auto;
    margin-top: 5px;
    background: transparent;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0px 3px rgb(128, 123, 123);
}
#formBtn:hover{
    background-color: black;
    color: white;
}

/* footer  */

.footer{
    background:linear-gradient(rgb(213, 216, 220 ),rgb(213, 216, 220 ));
    min-height: 40vh;
    display: flex;
}
.footerLeft{
    height: 100%;
    min-width: 40%;
    padding: 1rem;
}
.footerHead{
    margin: 1.5rem;
}
.footerPara{
    margin: 1.5rem;
}
.footerMid{
    min-height: 100%;
    min-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerMid ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footerMid ul a {
    text-decoration: none;
    color: black;
    padding: 5px;
}
.footerRight{
    min-height: 100%;
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.footerRight .follow{
    margin: 5px;
}
.footerRight a img{
    width: 30px;
    margin: 5px ;
}

/* Responsive Code  */

/* Home Page */
@media screen and (max-width: 570px) {
    .navList{
        padding-right: 0 !important;
        justify-content: space-evenly;
    }
    .navItem a{
        font-size: 16px;
    }
    .homeSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rightHome, .leftHome{
        width: 100%;
    }
    .leftHome input{
        width: 60%;
        padding: 5px 5px;
    }
    .leftHome button{
        width: 20%;
        padding: 5px 0;
    }
  }
/* feature Page */
@media screen and (max-width: 748px) {
    .featureColumns{
        display: flex;
        flex-direction: column;
    }
    .featureLeft,.featureMid,.featureRight{
        width: 100%;
    }
    .featureMid{
        padding: 8% 4%;
    }
  }
@media screen and (max-width: 458px) {
    .footer{
        flex-direction: column;
    }
    .navList{
        padding-right: 0 !important;
        justify-content: space-evenly;
    }

  }

  /* About page  */
  @media screen and (max-width: 750px) {
    
    .about{
        width: 100%;
    }
    .circleSection{
        flex-direction: column;
        padding: 20px 0;
    }
    .circles{
        margin: 20px 0;
    }
  }

  /* contact page  */
  @media screen and (max-width: 1304px) {
    
    .formInput input{
      display: block;
      width: 100%;
      margin-left: 0;
    }
    #formBtn{
        min-width: 40%;
    }
  }
  @media screen and (max-width: 850px) {
    .contact{
        padding: 0;
    }
    .contactContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10px;
    }
    .form, .map{
        width: 100%;
    }
    .form{
        padding: 0 3.5rem;
    }
    .map img{
        width: 60%;
    }
  }

